.playerChip {
	display: inline-block;
	margin: 0 10px 10px 0;
	position: relative;
	transition: 400ms
}

.playerChip > span {
	background-color: #ddd;
	border-radius: 30px;
	display: inline-block;
	font-size: 1.2em;
	padding: 8px 8px 8px 12px;
}

.playerChip > span > button {
	background-color: #aaa;
	color: #ddd;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	margin-left: 6px;
	width: 20px;
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: 400ms;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: 400ms;
}

.teamCount3 .playerChip,
.teamCount4 .playerChip,
.teamCount5 .playerChip,
.teamCount6 .playerChip {
	display: block;
	position: absolute;
	margin: 0 auto;
	text-align: center;
}

.home.teamCount3 .playerChip.pos1 { top: 25%; left: 0%; right: 0%; }
.home.teamCount3 .playerChip.pos2 { top: 65%; left: 0%; right: 50%; }
.home.teamCount3 .playerChip.pos3 { top: 65%; left: 50%; right: 0%; }
.home.teamCount3 .playerChip.pos4 { top: 70%; left: 0%; right: 0%; }

.away.teamCount3 .playerChip.pos1 { bottom: 25%; left: 0%; right: 0%; }
.away.teamCount3 .playerChip.pos2 { bottom: 65%; left: 0%; right: 50%; }
.away.teamCount3 .playerChip.pos3 { bottom: 65%; left: 50%; right: 0%; }
.away.teamCount3 .playerChip.pos4 { bottom: 70%; left: 0%; right: 0%; }

.home.teamCount4 .playerChip.pos1 { top: 20%; left: 0%; right: 0%; }
.home.teamCount4 .playerChip.pos2 { top: 45%; left: 0%; right: 50%; }
.home.teamCount4 .playerChip.pos3 { top: 45%; left: 50%; right: 0%; }
.home.teamCount4 .playerChip.pos4 { top: 70%; left: 0%; right: 0%; }
.home.teamCount4 .playerChip.pos5 { top: 70%; left: 50%; right: 0%; }

.away.teamCount4 .playerChip.pos1 { bottom: 20%; left: 0%; right: 0%; }
.away.teamCount4 .playerChip.pos2 { bottom: 45%; left: 0%; right: 50%; }
.away.teamCount4 .playerChip.pos3 { bottom: 45%; left: 50%; right: 0%; }
.away.teamCount4 .playerChip.pos4 { bottom: 70%; left: 0%; right: 0%; }
.away.teamCount4 .playerChip.pos5 { bottom: 70%; left: 50%; right: 0%; }

.home.teamCount5 .playerChip.pos1 { top: 20%; left: 0%; right: 0%; }
.home.teamCount5 .playerChip.pos2 { top: 45%; left: 0%; right: 50%; }
.home.teamCount5 .playerChip.pos3 { top: 45%; left: 50%; right: 0%; }
.home.teamCount5 .playerChip.pos4 { top: 70%; left: 0%; right: 50%; }
.home.teamCount5 .playerChip.pos5 { top: 70%; left: 50%; right: 0%; }
.home.teamCount5 .playerChip.pos6 { top: 70%; left: 50%; right: 0%; }

.away.teamCount5 .playerChip.pos1 { bottom: 20%; left: 0%; right: 0%; }
.away.teamCount5 .playerChip.pos2 { bottom: 45%; left: 0%; right: 50%; }
.away.teamCount5 .playerChip.pos3 { bottom: 45%; left: 50%; right: 0%; }
.away.teamCount5 .playerChip.pos4 { bottom: 70%; left: 0%; right: 50%; }
.away.teamCount5 .playerChip.pos5 { bottom: 70%; left: 50%; right: 0%; }
.away.teamCount5 .playerChip.pos6 { bottom: 70%; left: 50%; right: 0%; }

.home.teamCount6 .playerChip.pos1 { top: 20%; left: 0%; right: 0%; }
.home.teamCount6 .playerChip.pos2 { top: 45%; left: 0%; right: 66%; }
.home.teamCount6 .playerChip.pos3 { top: 45%; left: 33%; right: 33%; }
.home.teamCount6 .playerChip.pos4 { top: 45%; left: 66%; right: 0%; }
.home.teamCount6 .playerChip.pos5 { top: 70%; left: 0%; right: 50%; }
.home.teamCount6 .playerChip.pos6 { top: 70%; left: 50%; right: 0%; }

.away.teamCount6 .playerChip.pos1 { bottom: 20%; left: 0%; right: 0%; }
.away.teamCount6 .playerChip.pos2 { bottom: 45%; left: 0%; right: 66%; }
.away.teamCount6 .playerChip.pos3 { bottom: 45%; left: 33%; right: 33%; }
.away.teamCount6 .playerChip.pos4 { bottom: 45%; left: 66%; right: 0%; }
.away.teamCount6 .playerChip.pos5 { bottom: 70%; left: 0%; right: 50%; }
.away.teamCount6 .playerChip.pos6 { bottom: 70%; left: 50%; right: 0%; }
