div.pitchContainer {
    position: relative;
}

div.pitch {
    height: 90vh;
    width: 64vh; /* 100/71 = 1.4084 */
    background: #108e48;
    max-width: 94vw;
    max-height: 132vw; /* 100/71 = 1.4084 */
    margin: auto;
    position: absolute;
    top:0;bottom:auto; /* vertical center */
    left:0;right:0; /* horizontal center */
}

div.pitch div.touchline {
	border: 4px solid #7fc07f;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

div.pitch div.halfwayline {
	border: 2px solid #7fc07f;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
}

div.pitch div.box6 {
	border: 4px solid #7fc07f;
	box-sizing: border-box;
	position: absolute;
	left: 35%;
	width: 30%;
	height: 8%;
}

div.pitch div.box6.home, div.pitch div.box18.home {
	border-top: none;
	top: 4px;
}

div.pitch div.box6.away, div.pitch div.box18.away {
	border-bottom: none;
	top: auto;
	bottom: 4px;
}

div.pitch div.box18 {
	border: 4px solid #7fc07f;
	box-sizing: border-box;
	position: absolute;
	left: 20%;
	width: 60%;
	height: 20%;
}

div.pitch div.players {
	position: absolute;
	top: 0;
	left: 0;
    padding: 10px;
	width: 100%;
	height: 50%;
	box-sizing: border-box;
}

div.pitch div.players.away {
	top: 50%;
}

div.pitch div.touchline,
div.pitch div.halfwayline,
div.pitch div.box6,
div.pitch div.box18 {
    border-color: #fff;
	opacity: 0.6;
}
